<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= rootPath() %>">
        Verifikačný nástroj pre UNITY
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= if (current_path ~= domovPath()) { %> active <% } %>">
          <a href="<%= domovPath() %>">Domov</a>
        </li>
        <li class="<%= if (current_path ~= popisPath()) { %> active <% } %>">
          <a href="<%= popisPath() %>">Popis</a>
        </li>
        <li class="<%= if (current_path ~= progresPath()) { %> active <% } %>">
          <a href="<%= progresPath() %>">Progres</a>
        </li>
        <li class="<%= if (current_path ~= linkyPath()) { %> active <% } %>">
          <a href="<%= linkyPath() %>">Linky</a>
        </li>
        <li
          class="<%= if (current_path ~= aplikaciaPath()) { %> active <% } %>"
        >
          <a href="<%= aplikaciaPath() %>">Aplikácia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= contentOf("subtitle") %>
